@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary-color:#3A3A3A;
    --secondary-color: #E02C6D;
}
.section-title{
    color:var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.section-details{
    color:var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
/* header section style  */
header{
    width: 90%;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.option-icon{
    display: none;
}
/* nav style  */
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li,i{
    padding: 1rem;
    cursor: pointer;
}
nav li{
    color: var(--primary-color);
    font-weight: 600;
}
/* header banner section  */
.header-banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.header-banner-info{
    margin-right: 3rem
}

.header-banner-section img{
    width: 40%;
    background: url('images/Circle design.svg');
    background-size:contain;
    background-repeat: no-repeat;
}
.Prebook-btn{
    border: 0;
    border-radius: 41px;
    background: var(--secondary-color);
    color: #FFF;
    font-weight: 700;
    padding: 10px;
}
/* client section  */
.client{
    width: 80%;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    border-top:1px solid rgba(192, 204, 218,0.3);
    border-bottom:1px solid rgba(192, 204, 218, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.client img{
    padding:5px 40px;
}

/* Responsive style  */
@media screen and (max-width: 576px) {
    .logo{
        text-align: center;
        font-size: 1rem;
    }.option-icon{
        display: block;
    }
    nav li{
        display: none;
    }
    .header-banner-section{
        flex-direction: column-reverse;
    }
    .header-banner-section img{
        width: 80%;
    }
    .header-banner-info{
        text-align: center;
        margin-right: 0;
        margin-top: 10px;
    }
    .header-banner-info .section-title{
        font-size: 1.6rem;
    }
    .header-banner-info .section-details{
        font-size: 0.7rem;
    }
    .client{       
        width: 100%;
        margin: 30px 0;
        padding: 0;
        flex-wrap: wrap;   
    }
    .client img{
        padding:3px;
        width: 50%;
    }
}